{% extends 'base.html' %}

{% block meta %}
<title>List of Todo's</title>
{% endblock meta %}

{% block content %}

<p>Selamat datang {{user.get_username}} | <a href= "{% url 'todolist:logout_user' %}">Log out</a></p>
<a href = "{% url 'todolist:new_todo' %}"> Tambah List</a>

<table border = "4">
    <tr>
      <th>Date</th>
      <th>Title</th>
      <th>Description</th>
    </tr>
    {% for todo in todolist %}
      <tr>
          <th>{{todo.date}}</th>
          <th>{{todo.title}}</th>
          <th>{{todo.description}}</th>
          {% if getstatus.isfinished %}
            <th> Selesai </th>
          {% else %}
            <th> Belum Selesai </th>
          {% endif %}

          <th><button><a href = "{%url 'todolist:perubahan_status' todo.id %}">Cek Status</a></button></th>
          <th><button><a href = "{%url 'todolist:delete_list' todo.id %}">Delete</a></button></th>

      </tr>
    {% endfor %}
  </table>

 {% endblock content %}