{% extends 'base.html' %}

{% block meta %}
<title>List of Todo's</title>
{% endblock meta %}

{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">


<h2 class = "text-4xl font-bold text-center">Selamat datang {{user.get_username}} | <a href= "{% url 'todolist:logout_user' %}">Log out</a></h2>
<h2 class = "text-4xl font-bold text-center"><a href = "{% url 'todolist:new_todo' %}"> Tambah List</a></h2>

  <div class ="card-group">
    {% for todo in todolist %}
      <div class="card border-primary mb-3" style="max-width: 18rem;">
        <div class="card-body">
          <div class="card-action"></div>
          <h1 class = "card-title">{{todo.title}}</h1>
          <p class = "card-text">{{todo.description}}</p>
          <p class = "card-text">{{todo.date}}</p>
          <p>{{todo.is_finished|yesno:"Selesai,Belum Selesai"}}</p>
          
          <form action = "{%url 'todolist:perubahan_status' todo.id %}" method = "POST">
            {% csrf_token %}
            <button class = "btn btn-light">Cek Status</button>
          </form>
         
          <form action = "{%url 'todolist:delete_list' todo.id %}" method = "POST">
            {% csrf_token %}
          <button class="btn btn-light">Delete</button>
        </form>
        </div>
      </div>
     
    {% endfor %}
  </div> 


 {% endblock content %}